@page
@model Coffee.Pages.AboutModel
@{
    ViewData["Tittle"] = "About Us";
}
<section id="main">
    <h1>A little bit about Coffee</h1>
    <p>Coffee sangat bermanfaat untuk membangun kebugaran tubuh dan menetralisir adanya Lemak yang berlebihan 
        Coffee ini buka pada hari Libur Minggu : 09.00 - 21.00
    </p>
</section>
